# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
PKG-INFO
SCOUT
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.mo
*.pot
# Sphinx documentation
docs/_build/

# IDEs and editors
.idea/  # For PyCharm
.vscode/ # For VS Code
.history/
*.swp

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env # Sensitive data
.flaskenv

# Specific to backends (e.g., Django, Flask)
*.log
local_settings.py # Django specific, contains local secrets
db.sqlite3 # Default SQLite database file
/media/ # User uploaded media files
/static_collected/ # Generated static files

# OS-specific files
.DS_Store # macOS
Thumbs.db # Windows
